<h1>our expertise</h1>
<h2>Digital marketing services that help you rank,
    engage and convert</h2>

<div class="container">
    <div class="row">
        

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/360-degree-digital-marketing-agency.webp"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">360 Degree Digital marketing</h5>
                         
        
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/search-engine-marketing-company-pune.webp"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Search Engine Marketing (SEM)</h5>
                          
        
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/search-engine-optimization-company-pune.webp"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Search Engine Optimization(SEO)</h5>
                          
                        </div>
                    </div>
                </div>
        
            </div>

        </div>

        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/social-media-management-company-pune.webp"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Social Media Management(SMM)</h5>
                        
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/social-media-optimization-company-pune.webp"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Social Media Optimization(SMO)</h5>
                         
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/online-reputation-management-orm-company-pune.webp"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Online Reputation Management</h5>
                     
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/icon-dm-1.webp"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Youtube Optimization</h5>
                       
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/social-media-marketing-company-pune.webp"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Social Media Marketing</h5>
                         
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/content-writing-marketing-company-pune.webp"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Content Marketing</h5>
                 
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/icon-dm-2.webp"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Video Marketing</h5>
                          
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/mobile-marketing-company-pune.webp"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Mobile Marketing</h5>
                          
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/sms.png"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">SMS Marketing Service</h5>
                          
        
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/google-map-optimization.webp"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Google Map Optimization</h5>
                        
        
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/google-penalty-removal.png"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Google Penalty Removal Service</h5>
                    
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://osumare.com/images/services/real-estate.png"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Digital Marketing For Real Estate </h5>
                         
                        </div>
                    </div>
                </div>
        
            </div>

        </div>
      








    </div>
</div>