h1{
    text-align: center;
    margin-bottom: 200px;
    margin: 430px;
    font-size: 100px;
}
h2{
    text-align: center;
    margin-top: -300px;

}
img{
    margin: 10px;
}
.row{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.col-md-4 :hover {
   background-color: aquamarine;
   cursor: pointer;
}