<img src="https://clutchco-static.s3.amazonaws.com/s3fs-public/logos/osumare_logo.jpg?VersionId=LL.0v17DQ_Q.jluhSq65I4ULjMyKQYpu">
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
  MenuBar
  </button>
  
  <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="staticBackdropLabel"></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <img src="https://clutchco-static.s3.amazonaws.com/s3fs-public/logos/osumare_logo.jpg?VersionId=LL.0v17DQ_Q.jluhSq65I4ULjMyKQYpu">
      
        <div class="row">
      
          <span class="badge text-bg-light">Home</span>
          <span class="badge text-bg-light">About us</span>
          <span class="badge text-bg-light">Digital marketin services</span>
          <span class="badge text-bg-light">Branding services</span>
          <span class="badge text-bg-light">Clients</span>
          <span class="badge text-bg-light">Testimonials</span>
          <span class="badge text-bg-light">Blog</span>
          <span class="badge text-bg-light">Contact</span>
        
        </div>
      </div>
    </div>
  </div>






<app-ad></app-ad>

<app-features></app-features>
<app-sidebar></app-sidebar>
<app-info></app-info>
<app-locat></app-locat>
<app-servic></app-servic>
<app-blog></app-blog>
<app-partners></app-partners>
<app-contacts></app-contacts>
<app-linkservice></app-linkservice>
