<div class="bar">
    <h1>OUR BLOG</h1>
<h2>We are proud to be a significant part of taking these names to the next level, digitally!</h2>

<div class="container">

    <div class="row">

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Best Mobile <br>Marketing Company<br> in pune</h5>
                    <p class="card-text"></p>

                </div>
                <img class="card-img-top" src="https://osumare.com/images/blog/Osumare-Mobile-Marketing1.webp"
                    alt="Card image cap">

            </div>

        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Best Mobile <br>Online reputation management company<br> in pune</h5>
                    <p class="card-text"></p>

                </div>
                <img class="card-img-top" src="https://osumare.com/images/blog/Osumare-The-best-online-reputation-management-company1.webp"
                    alt="Card image cap">

            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Best Mobile <br>Reasons why Osumare is rated as the best SEO ,<br>agency in Pune</h5>
                    <p class="card-text"></p>

                </div>
                <img class="card-img-top" src="https://osumare.com/images/blog/Osumare-SEO-agency-in-Pune1.webp"
                    alt="Card image cap">

            </div>
        </div>



    </div>
</div>
</div>