<div class="row">
<div class="col-lg-2 col-sm-6 col-md-6 footv3-left">
    <h3 class="mb-3 w3f_title">Quick Links</h3>
    <ul class="list-agileits">
        <li>
            <a href="https://osumare.com/">
                <i class="far fa-dot-circle"></i>	Home
            </a>
        </li>
        <li class="my-3">
            <a href="about-osumare">
                <i class="far fa-dot-circle"></i>	About Us
            </a>
        </li>
        <li class="mb-3">
            <a href="our-client">
                <i class="far fa-dot-circle"></i>	Clients
            </a>
        </li>
        <li class="mb-3">
            <a href="osumare-testimonials">
                <i class="far fa-dot-circle"></i>	Testimonials
            </a>
        </li>
        <li class="mb-3">
            <a href="blog" target="blank">
                <i class="far fa-dot-circle">== $0</i>	Blog
            </a>
        </li>
        <li>
            <a href="contact-us-osumare">
                <i class="far fa-dot-circle"></i>	Contact Us
            </a>
        </li>
    </ul>
</div>
<div class="col-lg-3 col-sm-6 col-md-6 footv3-left my-sm-0 my-5">
    <h3 class="mb-3 w3f_title">Digital Service</h3>
    <ul class="list-agileits">
<li>
            <a href="digital-marketing-company-in-pune">
                <i class="far fa-dot-circle"></i>	Digital Marketing in Pune</a>
        </li>
        <li>
            <a href="360-digital-marketing-services-company-pune">
                <i class="far fa-dot-circle"></i>	360° Digital Marketing</a>
        </li>
        <li>
            <a href="sem-services-company-pune">
                <i class="far fa-dot-circle"></i>	SEM</a>
        </li>
        <li>
            <a href="seo-services-company-pune">
                <i class="far fa-dot-circle"></i>	SEO</a>
        </li>
        
        <li>
            <a href="smm-services-company-pune">
                <i class="far fa-dot-circle"></i>	SMM</a>
        </li>
        <li>
            <a href="smo-services-company-pune">
                <i class="far fa-dot-circle"></i>	SMO</a>
        </li>
        <li>
            <a href="mobile-marketing-company-pune">
                <i class="far fa-dot-circle"></i>	Mobile Marketing</a>
        </li>
        <li>
            <a href="online-reputation-management-company-pune">
                <i class="far fa-dot-circle"></i>	ORM</a>
        </li>

<li>
           <a href="https://osumare.com/best-digital-marketing-company-delhi/ " target="blank">
                <i class="far fa-dot-circle"></i>	DM Services in Delhi</a>
        </li>

<li>
             <a href="https://osumare.com/best-digital-marketing-company-mumbai/" target="blank">
                <i class="far fa-dot-circle"></i>	DM Services in Mumbai</a>
        </li>

       
    </ul>
</div>

<div class="col-lg-3 col-sm-6 col-md-6 footv3-left">
    <h3 class="w3f_title mb-3">Digital Service</h3>
    <ul class="list-agileits">
        <li>
            <a href="content-marketing-company-pune">
                <i class="far fa-dot-circle"></i>	Content Marketing</a>
        </li>
       
        <li>
            <a href="digital-marketing-real-estate">
                <i class="far fa-dot-circle"></i>	DM For Real Estate</a>
        </li>
        <li>
            <a href="google-amp">
                <i class="far fa-dot-circle"></i>	Google Amp</a>
        </li>
        
         <li>
            <a href="sms-marketing-service">
                <i class="far fa-dot-circle"></i>	SMS Marketing Service</a>
        </li>
<li>
            <a href="online-PR-agency">
                <i class="far fa-dot-circle"></i> Online PR Agency</a>
        </li>
        <li>
            <a href="online-media-buying">
                <i class="far fa-dot-circle"></i>	Online Media Buying</a>
        </li>
        <li>
            <a href="youtube-optimization">
                <i class="far fa-dot-circle"></i>	Youtube Optimization</a>
        </li>
<li>
            <a href="https://osumare.com/best-search-engine-optimization-SEO-company-delhi/" target="blank">
                <i class="far fa-dot-circle"></i> SEO Services in Delhi</a>
        </li>
<li>
            <a href="https://osumare.com/best-search-engine-optimization-SEO-company-mumbai/" target="blank">
                <i class="far fa-dot-circle"></i>	SEO Services in Mumbai</a>
        </li>
    </ul>
</div>
<div class="col-lg-4 col-sm-6 col-md-6 footv3-left">
    <h3 class="w3f_title mb-3">Digital Service</h3>
    <ul class="list-agileits">
<li>
            <a href="google-map-optimization">
                <i class="far fa-dot-circle"></i>	Google Map Optimization</a>
        </li>
<li>
            <a href="video-marketing">
                <i class="far fa-dot-circle"></i>	Video Marketing Services</a>
        </li>
<li>
            <a href="social-media-management-services-pune">
                <i class="far fa-dot-circle"></i>	Social Media Management</a>
        </li>
<li>
            <a href="google-penalty-removal-service">
                <i class="far fa-dot-circle"></i>	Google Penalty Removal Service</a>
        </li>
        
      
        
        <li>
            <a href="political-PR-agency">
                <i class="far fa-dot-circle"></i>	Political PR Agency</a>
        </li>
        <li>
            <a href="political-social-media-agency">
                <i class="far fa-dot-circle"></i>	Political Social Media Agency</a>
        </li>
        <li>
            <a href="political-online-campaign-management">
                <i class="far fa-dot-circle"></i>	Political Online Campaign Management</a>
        </li>
   <li>
            <a href="https://osumare.com/best-digital-marketing-company-for-manufacturing-companies/" target="_blank">
                <i class="far fa-dot-circle"></i> DM For Manufacturing  </a>
        </li>


            <li>
            <a href="https://osumare.com/best-digital-marketing-company-for-pharmaceutical-companies/" target="_blank">
                <i class="far fa-dot-circle"></i> DM For Pharmaceutical   </a>
        </li>
                
    </ul>
</div>
</div>

<img class="img-responsive img-fluid" src="https://osumare.com/images/wc.png" width="100px" height="60px" alt="SEO company in Pune, Maharashtra, India">
<p>© 2021 Osumare. All rights reserved.</p>