<div class="bar">

    <div class=" bg-pricemain">
        <span data-toggle="modal" data-target=".bd-example-modal-lg"><i
                class="scale-up-center far fa-play-circle btn"></i></span>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <video controls="">
                        <source src="images/video/video.mp4" type="video/mp4">
                        <!-- Load other extensions too-->
                        <!-- For unsupported browse -->
                    </video>
                </div>
            </div>
        </div>
        <h2 class="agile-title pt-4">Let us grow your business TOGETHER!</h2>
        <div class="py-4">
        </div>
        <a href="360-digital-marketing-services-company-pune"
            class="text-uppercase serv_link align-self-center bg-light btn px-4">our services</a>
    </div>
    <!-- <img src="https://akm-img-a-in.tosshub.com/aajtak/images/story/201606/colleagues_146545247785_650x425_060916113941.jpg?size=948:533"> -->
</div>